<a href="https://colab.research.google.com/github/eaa-msda/Hands-on-Lab-Analyzing-Historical-Stock-Revenue-Data-and-Building-a-Dashboard/blob/main/Case_Study_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Errol Ian Ave Acosta
# SQL | Python
# Case Study 2: How Can a Wellness Technology
# Google Data Analytics Certificate
# February 8, 2025

In [ ]:
# Step 1: SQL Setup

# Since Google Colab doesn't natively support SQL databases,
# we will use SQLite to store and query our data. The workflow:
# Load the CSV files into SQLite
# Clean and preprocess data
# Perform SQL queries for insights
# Export relevant tables to be used in Python

In [ ]:
import sqlite3
import pandas as pd

# Connect to SQLite database (creates a new one if it doesn't exist)
conn = sqlite3.connect("bellabeat.db")
cursor = conn.cursor()

In [ ]:
# 1.2 Load Relevant CSV Files into SQLite

# We'll only use the most relevant datasets for this case study:
# dailyActivity_merged.csv (Overall activity, calories, steps)
# sleepDay_merged.csv (Sleep patterns)
# hourlySteps_merged.csv (Hourly movement trends)
# hourlyCalories_merged.csv (Calorie burn patterns)
# weightLogInfo_merged.csv (Weight tracking data)

In [ ]:
# Mount the Google Drive
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import sqlite3
import pandas as pd

# Re-establish the connection:
conn = sqlite3.connect("bellabeat.db")  # This ensures the connection is open

# Function to check table schema
def check_table_schema(table_name):
    query = f"PRAGMA table_info({table_name});"
    df = pd.read_sql(query, conn)
    print(f"Schema for {table_name}:")
    print(df)
    print("\n" + "="*50 + "\n")

# Check schema for each table
for table in ["daily_activity", "sleep_data", "hourly_steps", "hourly_calories", "weight_data"]:
    check_table_schema(table)

conn.close()  # Close the connection when done

In [ ]:
# Store Data in SQLite

# Connect to SQLite database (Creates a new one if not exists)
conn = sqlite3.connect("bellabeat.db")
cursor = conn.cursor()

# Store DataFrames in SQLite
activity_df.to_sql("daily_activity", conn, if_exists="replace", index=False)
sleep_df.to_sql("sleep_data", conn, if_exists="replace", index=False)
hourly_steps_df.to_sql("hourly_steps", conn, if_exists="replace", index=False)
hourly_calories_df.to_sql("hourly_calories", conn, if_exists="replace", index=False)
weight_df.to_sql("weight_data", conn, if_exists="replace", index=False)

print("Data successfully stored in SQLite!")

In [ ]:
# Verification: Check Data Stored in SQLite
# Run a quick check to ensure everything is stored correctly.

# Check tables in database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

# Check first few rows from each table
for table in ["daily_activity", "sleep_data", "hourly_steps", "hourly_calories", "weight_data"]:
    print(f"First 5 rows from {table}:")
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5;", conn)
    print(df)

In [ ]:
# SQL Query View Test (Google Colab)
# Now that the data is stored in SQLite
# let's run a few test queries to ensure everything is working properly.

In [ ]:
# Verify Table Structure
# Function to check table schema
def check_table_schema(table_name):
    query = f"PRAGMA table_info({table_name});"
    df = pd.read_sql(query, conn)
    print(f"Schema for {table_name}:")
    print(df)
    print("\n" + "="*50 + "\n")

# Check schema for each table
for table in ["daily_activity", "sleep_data", "hourly_steps", "hourly_calories", "weight_data"]:
    check_table_schema(table)

In [24]:
# Count Number of Rows in Each Table

# Function to count rows in a table
def count_rows(table_name):
    query = f"SELECT COUNT(*) AS row_count FROM {table_name};"
    df = pd.read_sql(query, conn)
    print(f"Total rows in {table_name}: {df.iloc[0,0]}")
    print("\n" + "="*50 + "\n")

# Check row count for each table
for table in ["daily_activity", "sleep_data", "hourly_steps", "hourly_calories", "weight_data"]:
    count_rows(table)

Total rows in daily_activity: 940

==================================================

Total rows in sleep_data: 413

==================================================

Total rows in hourly_steps: 22099

==================================================

Total rows in hourly_calories: 22099

==================================================

Total rows in weight_data: 67

==================================================

In [25]:
# Sample Data from Each Table

# Function to view first 5 rows of a table
def preview_table(table_name):
    query = f"SELECT * FROM {table_name} LIMIT 5;"
    df = pd.read_sql(query, conn)
    print(f"First 5 rows from {table_name}:")
    print(df)
    print("\n" + "="*50 + "\n")

# Preview each table
for table in ["daily_activity", "sleep_data", "hourly_steps", "hourly_calories", "weight_data"]:
    preview_table(table)

First 5 rows from daily_activity:
           Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0  1503960366    4/12/2016       13162           8.50             8.50
1  1503960366    4/13/2016       10735           6.97             6.97
2  1503960366    4/14/2016       10460           6.74             6.74
3  1503960366    4/15/2016        9762           6.28             6.28
4  1503960366    4/16/2016       12669           8.16             8.16

   LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                       0.0                1.88                      0.55
1                       0.0                1.57                      0.69
2                       0.0                2.44                      0.40
3                       0.0                2.14                      1.26
4                       0.0                2.71                      0.41

   LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                 6.06                      0.0                 25
1                 4.71                      0.0                 21
2                 3.91                      0.0                 30
3                 2.83                      0.0                 29
4                 5.04                      0.0                 36

   FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
0                   13                   328               728      1985
1                   19                   217               776      1797
2                   11                   181              1218      1776
3                   34                   209               726      1745
4                   10                   221               773      1863

==================================================

First 5 rows from sleep_data:
           Id               SleepDay  TotalSleepRecords  TotalMinutesAsleep  \
0  1503960366  4/12/2016 12:00:00 AM                  1                 327
1  1503960366  4/13/2016 12:00:00 AM                  2                 384
2  1503960366  4/15/2016 12:00:00 AM                  1                 412
3  1503960366  4/16/2016 12:00:00 AM                  2                 340
4  1503960366  4/17/2016 12:00:00 AM                  1                 700

   TotalTimeInBed
0             346
1             407
2             442
3             367
4             712

==================================================

First 5 rows from hourly_steps:
           Id           ActivityHour  StepTotal
0  1503960366  4/12/2016 12:00:00 AM        373
1  1503960366   4/12/2016 1:00:00 AM        160
2  1503960366   4/12/2016 2:00:00 AM        151
3  1503960366   4/12/2016 3:00:00 AM          0
4  1503960366   4/12/2016 4:00:00 AM          0

==================================================

First 5 rows from hourly_calories:
           Id           ActivityHour  Calories
0  1503960366  4/12/2016 12:00:00 AM        81
1  1503960366   4/12/2016 1:00:00 AM        61
2  1503960366   4/12/2016 2:00:00 AM        59
3  1503960366   4/12/2016 3:00:00 AM        47
4  1503960366   4/12/2016 4:00:00 AM        48

==================================================

First 5 rows from weight_data:
           Id                   Date    WeightKg  WeightPounds   Fat  \
0  1503960366   5/2/2016 11:59:59 PM   52.599998    115.963147  22.0
1  1503960366   5/3/2016 11:59:59 PM   52.599998    115.963147   NaN
2  1927972279   4/13/2016 1:08:52 AM  133.500000    294.317120   NaN
3  2873212765  4/21/2016 11:59:59 PM   56.700001    125.002104   NaN
4  2873212765  5/12/2016 11:59:59 PM   57.299999    126.324875   NaN

         BMI  IsManualReport          LogId
0  22.650000               1  1462233599000
1  22.650000               1  1462319999000
2  47.540001               0  1460509732000
3  21.450001               1  1461283199000
4  21.690001               1  1463097599000

==================================================

In [27]:
# SQL Query to Test Insights
# Find Average Steps Per Day

query = """
SELECT AVG(TotalSteps) AS avg_steps FROM daily_activity;
"""
df = pd.read_sql(query, conn)
print("Average Steps Per Day:", df.iloc[0, 0])

Average Steps Per Day: 7637.9106382978725

In [28]:
# Find Users Who Walked More Than 10,000 Steps
query = """
SELECT Id, TotalSteps FROM daily_activity
WHERE TotalSteps > 10000
ORDER BY TotalSteps DESC
LIMIT 10;
"""
df = pd.read_sql(query, conn)
print(df)

           Id  TotalSteps
0  1624580081       36019
1  8877689391       29326
2  8877689391       27745
3  8877689391       23629
4  8877689391       23186
5  8053475328       22988
6  4388161847       22770
7  8053475328       22359
8  2347167796       22244
9  8053475328       22026

In [ ]:
# Find Top Active Hours (Based on Steps)

query = """
SELECT SUBSTR(ActivityHour, 12, 2) AS Hour, AVG(StepTotal) AS avg_steps
FROM hourly_steps
GROUP BY Hour
ORDER BY avg_steps DESC
LIMIT 5;
"""
df = pd.read_sql(query, conn)
print("Top Active Hours:")
print(df)

In [ ]:
# TIME TO FOR PYTHON FOR PYTHON ANALYSIS & VISUALIZATION